<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python38-32\python.exe|C:\Python\Python38-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="app_hook.app" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\linebot\linebot_webhook" />
        <add key="GOOGLE_APPLICATION_CREDENTIALS" value="C:\inetpub\wwwroot\linebot\linebot_webhook\googleapi\nuengdevtoat-ihq9-f20db5a4e547.json" />
    </appSettings>
</configuration>
